body {
    font-family: 'Domine', serif;
    background-image: url(../loginBackground.jpg);
    color: #333;
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
   
}

.collegeimage{
    background-image: url('../BostonCollege1.jpeg');
}

/* Style the main heading */
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 3em;
}

h3 {
    text-align: center;
    color: black;
}

/* Style the forms for collecting user input */
form {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style the form fields and labels */
.error-message {
    color: red;
}

.form-group:not(:has(.btn)) {
    margin-bottom: 20px;
    background-color: white;
}

.form-control-label {
    font-weight: bold;
    color: black;
}

.form-control {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the form submit buttons */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:black;
    font-weight: bold;
    background-color: lightgrey;
    
}

.btn:hover{
    background-color: cadetblue;
    color: white
}

.btn-outline-info {
    background-color: #007bff;
}

/* Add some spacing between the forms */
.form-group + .form-group {
    margin-top: 20px;
}

/* Add some margin to the invalid feedback messages */
.invalid-feedback {
    margin-top: 5px;
    color: #dc3545;
}