/*.results {
    border: 3px solid black;
    background-color: white;
    display: inline-block;
    padding: 20px;
}*/

.title{
    box-sizing: border-box;
    border: 3px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    width: 60%;
    margin: 0% auto;
    text-align: center;
}

li {
    list-style-type: none;
    padding-left: 0;
}

.lookup-error:not(h1) {
    margin: 8% auto;
    border: 3px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    width: 30%;
}

.lookup-error h1 {
    color: black;
}

.charts {
    width: 45%;
    height: 45%;
}

.multi-charts {
    width: 45%;
    height: 45%;
}


*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

#accordion {
    margin: 100px auto;
    width: 600px;
}

#accordion li{
    list-style: none;
    width: 100%;
    margin-bottom:10px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    border: 3px solid black;
}

#accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #c20000;
}

#accordion li label span{
    transform: rotate(90deg);
    font-size: 22px;
    color: #333;

}

#accordion label + input[type="radio"]{
    display: none;
}

#accordion .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#accordion label + input[type="radio"]:checked + .content{
    max-height: 400px;
}