{% if user is defined and user is not none and logged_in %}
    {% extends 'layout.html' %}
{% endif %}

{% block content %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Home Page</title>
    <link rel = "stylesheet" type = "text/css" href = "../static/css/home.css">

    <!--Goolge Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
</head>
<body>
    {% if user is defined and user is not none and logged_in %}
    <div class = 'collegeimage'>
        <h1>Welcome {{ user }}!</h1>

        <!-- Form for collecting user inputs on the filtered search -->
        <form method="POST" action="/home">
            {{ filteredForm.hidden_tag() }}
            <fieldset class="form-group">
            <div class="form-group">
                <!-- Displayed flashed error message when no results are found -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                        {% if category == 'multiSearchError' %}
                            <div class="error-message">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
                <!-- Receives the input of 'degree' -->
                {{ filteredForm.degree.label(class="form-control-label") }}
                {% if filteredForm.degree.errors %}
                {{ filteredForm.degree(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in filteredForm.degree.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ filteredForm.degree(class="form-control form-control-lg") }}
                {% endif %}

                <!-- Receives the input of 'degree_type' -->
                {{ filteredForm.degree_type.label(class="form-control-label") }}
                {{ filteredForm.degree_type(class="form-control form-control-lg") }}
                
                <!-- Receives the input of 'residency' -->
                {{ filteredForm.residency.label(class="form-control-label") }}
                {% if filteredForm.residency.errors %}
                {{ filteredForm.residency(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in filteredForm.residency.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ filteredForm.residency(class="form-control form-control-lg") }}
                {% endif %}

                <!-- Receives the required input of 'residency_preference' -->
                {{ filteredForm.residency_preference.label(class="form-control-label") }}
                {{ filteredForm.residency_preference(class="form-control form-control-lg") }}

                <!-- Receives the input of 'school_type' -->
                {{ filteredForm.school_type.label(class="form-control-label") }}
                {{ filteredForm.school_type(class="form-control form-control-lg") }}

                <!-- Receives the input of 'tuition_preference' -->
                {{ filteredForm.tuition_preference.label(class="form-control-label") }}
                {{ filteredForm.tuition_preference(class="form-control form-control-lg") }}
            </div>
            </fieldset>
            <div class="form-group">
            {{ filteredForm.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    {% else %}
        <h1>You are not authorized to access this!</h1>
    {% endif %}
    </div>
</body>
</html>
{% endblock %}