<!DOCTYPE html>
<html>
<head>
    <title>Login/Sign-Up</title>
    <link rel = "stylesheet" type = "text/css" href = "../static/css/login.css">

    <!--Goolge fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">

</head>
<body>


    <center>
        <a href="#" class="logo">
            <img src="{{url_for('static',filename='logo.png')}}" alt="CollegeQuest Logo" width="250" height="250"/>
          </a>
    </center>


    <!-- Form for collecting login information -->
    <form method="POST" action="/">
        {{ loginForm.hidden_tag() }}
        <fieldset class="form-group">
        <div class="form-group">
            <h3>Please Login to Continue</h3>
            <!-- Displays error message if credentials are incorrect -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    {% if category == 'loginError' %}
                        <div class="error-message">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endwith %}
            <!-- Receives the required input of 'username' -->
            {{ loginForm.username.label(class="form-control-label") }}
            {% if loginForm.username.errors %}
            {{ loginForm.username(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in loginForm.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ loginForm.username(class="form-control form-control-lg") }}
            {% endif %}

            <!-- Receives the required input of 'password' -->
            {{ loginForm.password.label(class="form-control-label") }}
            {% if loginForm.password.errors %}
            {{ loginForm.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in loginForm.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ loginForm.password(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        </fieldset>
        <div class="form-group">
        {{ loginForm.submit(class="btn btn-outline-info") }}
        </div>
    </form>

    <!-- Form for collecting sign up information -->
    <form method="POST" action="/signup">
        {{ signUpForm.hidden_tag() }}
        <fieldset class="form-group">
        <div class="form-group">
            <h3>New? Sign-up Below!</h3>
            <!-- Displays error message if credentials are incorrect -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    {% if category == 'signUpError' %}
                        <div class="error-message">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endwith %}
            <!-- Receives the required input of 'username' -->
            {{ signUpForm.username.label(class="form-control-label") }}
            {% if signUpForm.username.errors %}
            {{ signUpForm.username(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in signUpForm.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ signUpForm.username(class="form-control form-control-lg") }}
            {% endif %}

            <!-- Receives the required input of 'password' -->
            {{ signUpForm.password.label(class="form-control-label") }}
            {% if signUpForm.password.errors %}
            {{ signUpForm.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in signUpForm.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ signUpForm.password(class="form-control form-control-lg") }}
            {% endif %}

            <!-- Receives the required input of 'confirm password' -->
            {{ signUpForm.confirm_password.label(class="form-control-label") }}
            {% if signUpForm.confirm_password.errors %}
            {{ signUpForm.confirm_password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in signUpForm.confirm_password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ signUpForm.confirm_password(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        </fieldset>
        <div class="form-group">
        {{ signUpForm.submit(class="btn btn-outline-info") }}
        </div>
    </form>
<body>
<html>