{% if user is defined and user is not none and logged_in %}
    {% extends 'layout.html' %}
{% endif %}

{% block content %}

{% if user is defined and user is not none and logged_in %}
   <!DOCTYPE html>
    <head>
        <title>Search Results</title>
        <link rel = "stylesheet" type = "text/css" href = "../static/css/searchResults.css">
    </head>
    <body>
        {% if error %}
            <div class="lookup-error">
                <h1><center>{{ error }}</center></h1>
            </div>
        {% else %}
            <ul class="results">
            <div class="title">
                <center>
                <h1><b>College(s) Found:</b></h1>
                <!-- Results for when a single school search is made -->
                {% if single_school_data %}
                <h2>{{ single_school_data.school_name }}</h2></center>
            </div>

                <ul id="accordion">
                    <li>
                        <label for="first">Location<span>&#x3e</span></label>
                        <input type="radio" name="accordion" id="first" checked>
                        <div class="content">
                            <p>Location: {{ single_school_data.location_info }}</p>
                        </div>
                    </li>
                
                    <li>
                        <label for="second">School Facts<span>&#x3e</span></label>
                        <input type="radio" name="accordion" id="second">
                        <div class="content">
                            <p>Student Size: {{ single_school_data.student_size }}</p>
                            <p>Is Undergraduate Only: {{ single_school_data.is_undergraduate_only }}</p>
                        </div>
                    </li>

                    <li>
                        <label for="third">Cost of Attendance Info<span>&#x3e</span></label>
                        <input type="radio" name="accordion" id="third">
                        <div class="content">
                            <p>In State Tuition: ${{ single_school_data.in_state_tuition }}</p>
                            <p>Out Of State Tuition: ${{ single_school_data.out_state_tuition }}</p>
                            {% if single_school_data.roomboard_on_campus == 0 %}
                            <p>Roomboard On Campus: None Offered</p>
                            {% else %}
                            <p>Roomboard On Campus: ${{ single_school_data.roomboard_on_campus }}</p>
                            {% endif %}
                            {% if single_school_data.roomboard_off_campus == 0 %}
                            <p>Roomboard Off Campus: None Offered</p>
                            {% else %}
                            <p>Roomboard Off Campus: ${{ single_school_data.roomboard_off_campus }}</p>
                            {% endif %}
                            {% if single_school_data.book_supply == 0 %}
                            <p>Average Book Supply: None Offered</p>
                            {% else %}
                            <p>Average Book Supply: ${{ single_school_data.book_supply }}</p>
                            {% endif %}
                        </div>
                    </li>

                    <li>
                        <label for="forth">Financial Aid Info<span>&#x3e</span></label>
                        <input type="radio" name="accordion" id="forth">
                        <div class="content">
                            <p>Average Overall Net Price: ${{ single_school_data.average_overall_net_price }}</p>
                        </div>
                    </li>

                    <li>
                        <label for="fifth">Admissions Information<span>&#x3e</span></label>
                        <input type="radio" name="accordion" id="fifth">
                        <div class="content">
                            {% if single_school_data.acceptance_rate == 0 %}
                            <p>Acceptance Rate: None Found</p>
                            {% else %}
                            <p>Acceptance Rate: {{ "{:.2f}".format(single_school_data.acceptance_rate * 100) }}%</p>
                            {% endif %}
                            {% if single_school_data.avg_SAT_score == 0 %}
                            <p>Average SAT Score: None Found</p>
                            {% else %}
                            <p>Average SAT Score: {{ single_school_data.avg_SAT_score }}</p>
                            {% endif %}
                            {% if single_school_data.avg_ACT_score == 0 %}
                            <p>Average ACT Score: None Found</p>
                            {% else %}
                            <p>Average ACT Score: {{ single_school_data.avg_ACT_score }}</p>
                            {% endif %}
                        </div>
                    </li>

                    <li>
                        <label for="sixth">Demographic Info<span>&#x3e</span></label>
                        <input type="radio" name="accordion" id="sixth">
                        <div class="content">
                            <p>Male: {{ "{:.2f}".format(single_school_data.percent_male * 100) }}%</p>
                            <p>Female: {{ "{:.2f}".format(single_school_data.percent_female * 100) }}%</p>
                            <p>Native American: {{ "{:.2f}".format(single_school_data.percent_native_american * 100) }}%</p>
                            <p>Native Hawaiian Pacific Islander: {{ "{:.2f}".format(single_school_data.percent_native_hawaiian_pacific_islander * 100) }}%</p>
                            <p>Asian: {{ "{:.2f}".format(single_school_data.percent_asian * 100) }}%</p>
                            <p>Black: {{ "{:.2f}".format(single_school_data.percent_black * 100) }}%</p>
                            <p>White: {{ "{:.2f}".format(single_school_data.percent_white * 100) }}%</p>
                            <p>Hispanic: {{ "{:.2f}".format(single_school_data.percent_hispanic * 100) }}%</p>
                            <p>Unknown Ethnicities: {{ "{:.2f}".format(single_school_data.percent_ethnicity_unknown * 100) }}%</p>
                        </div>
                    </li>

                    <li>
                        <label for="seventh">External Links<span>&#x3e</span></label>
                        <input type="radio" name="accordion" id="seventh">
                        <div class="content">
                            <p>{{single_school_data.school_name}}'s Website URL: <a href="https://{{ single_school_data.school_website_url }}">{{ single_school_data.school_website_url }}</a></p>
                            <p>{{single_school_data.school_name}}'s Price Calculator: <a href="https://{{ single_school_data.price_calculator_website }}">{{ single_school_data.price_calculator_website }}</a></p>
                        </div>
                    </li>
                </ul>

                <!-- Results for when a filtered search is made (Top 5 school data display IF AVAILABLE) -->
                {% elif firstFiveSchools %}
                    {% for school in firstFiveSchools %}
                        <br>
                        <h2><b>{{ school.school_name }}</b></h2>
                        <ul>
                            <br>
                            <h3>Location Information</h3>
                            <li>Location: {{ school.location_info }}</li>

                            <br>
                            <h3>School Facts</h3>
                            <li>Student Size: {{ school.student_size }}</li>
                            <li>Is Undergraduate Only: {{ school.is_undergraduate_only }}</li>

                            <br>
                            <h3>Cost of Attendance Info</h3>
                            <li>In State Tuition: ${{ school.in_state_tuition }}</li>
                            <li>Out Of State Tuition: ${{ school.out_state_tuition }}</li>
                            {% if school.roomboard_on_campus == 0 %}
                                <li>Roomboard On Campus: None Offered</li>
                            {% else %}
                                <li>Roomboard On Campus: ${{ school.roomboard_on_campus }}</li>
                            {% endif %}
                            {% if school.roomboard_off_campus == 0 %}
                                <li>Roomboard Off Campus: None Offered</li>
                            {% else %}
                                <li>Roomboard Off Campus: ${{ school.roomboard_off_campus }}</li>
                            {% endif %}
                            {% if school.book_supply == 0 %}
                                <li>Average Book Supply: None Offered</li>
                            {% else %}
                                <li>Average Book Supply: ${{ school.book_supply }}</li>
                            {% endif %}

                            <br>
                            <h3>Financial Aid Info</h3>
                            <li>Average Overall Net Price: ${{ school.average_overall_net_price }}</li>

                            <br>
                            <h3>Admissions Information</h3>
                            {% if school.acceptance_rate == 0 %}
                                <li>Acceptance Rate: None Found</li>
                            {% else %}
                                <li>Acceptance Rate: {{ "{:.2f}".format(school.acceptance_rate * 100) }}%</li>
                            {% endif %}
                            {% if school.avg_SAT_score == 0 %}
                                <li>Average SAT Score: None Found</li>
                            {% else %}
                                <li>Average SAT Score: {{ school.avg_SAT_score }}</li>
                            {% endif %}
                            {% if school.avg_ACT_score == 0 %}
                                <li>Average ACT Score: None Found</li>
                            {% else %}
                                <li>Average ACT Score: {{ school.avg_ACT_score }}</li>
                            {% endif %}

                            <br>
                            <h3>Demographics Info</h3>
                            <li>Male: {{ "{:.2f}".format(school.percent_male * 100) }}%</li>
                            <li>Female: {{ "{:.2f}".format(school.percent_female * 100) }}%</li>
                            <li>Native American: {{ "{:.2f}".format(school.percent_native_american * 100) }}%</li>
                            <li>Native Hawaiian Pacific Islander: {{ "{:.2f}".format(school.percent_native_hawaiian_pacific_islander * 100) }}%</li>
                            <li>Asian: {{ "{:.2f}".format(school.percent_asian * 100) }}%</li>
                            <li>Black: {{ "{:.2f}".format(school.percent_black * 100) }}%</li>
                            <li>White: {{ "{:.2f}".format(school.percent_white * 100) }}%</li>
                            <li>Hispanic: {{ "{:.2f}".format(school.percent_hispanic * 100) }}%</li>
                            <li>Unknown Ethnicities: {{ "{:.2f}".format(school.percent_ethnicity_unknown * 100) }}%</li>
                            
                            {% if school.degree_type != "None" %}
                                <br>
                                <h3>Your Chosen Degree</h3>
                                <li>{{ school.school_name }} offers {{ school.user_degree_offered }}</li>
                            {% endif %}

                            <br>
                            <h3>Most Popular Degrees Offered</h3>
                            <li>1: {{ school.first_degree_offered }}</li>
                            <li>2: {{ school.second_degree_offered }}</li>
                            <li>3: {{ school.third_degree_offered }}</li>
                            <li>4: {{ school.fourth_degree_offered }}</li>
                            <li>5: {{ school.fifth_degree_offered }}</li>

                            <br>
                            <h3>External Links</h3>
                            <li>{{school.school_name}}'s Website URL: <a href="https://{{ school.school_website_url }}">{{ school.school_website_url }}</a></li>
                            <li>{{school.school_name}}'s Price Calculator: <a href="https://{{ school.price_calculator_website }}">{{ school.price_calculator_website }}</a></li>

                            <br>
                            <h3>Charts</h3>
                            {% if loop.index == 1 %}
                                <img class="multi-charts" src = "../static/images/gender_demographics_pie_chart1.png" alt = "Gender Demographics Chart">
                                <img class="multi-charts" src = "../static/images/racial_demographics_pie_chart1.png" alt = "Racial Demographics Chart">
                            {% elif loop.index == 2 %}
                                <img class="multi-charts" src = "../static/images/gender_demographics_pie_chart2.png" alt = "Gender Demographics Chart">
                                <img class="multi-charts" src = "../static/images/racial_demographics_pie_chart2.png" alt = "Racial Demographics Chart">
                            {% elif loop.index == 3 %}
                                <img class="multi-charts" src = "../static/images/gender_demographics_pie_chart3.png" alt = "Gender Demographics Chart">
                                <img class="multi-charts" src = "../static/images/racial_demographics_pie_chart3.png" alt = "Racial Demographics Chart">
                            {% elif loop.index == 4 %}
                                <img class="multi-charts" src = "../static/images/gender_demographics_pie_chart4.png" alt = "Gender Demographics Chart">
                                <img class="multi-charts" src = "../static/images/racial_demographics_pie_chart4.png" alt = "Racial Demographics Chart">
                            {% elif loop.index == 5 %}
                                <img class="multi-charts" src = "../static/images/gender_demographics_pie_chart5.png" alt = "Gender Demographics Chart">
                                <img class="multi-charts" src = "../static/images/racial_demographics_pie_chart5.png" alt = "Racial Demographics Chart">
                            {% endif %}
                        </ul>
                    {% endfor %}
                {% else %}
                    <h2>Unfortunately we weren't able to find results!</h2>
                    <h4>Tip: Check that the school name was input correctly.</h4>
                    <h4>Tip: Try being more specific with the degree name.</h4>
                {% endif %}
            </div>
        {% endif %}
        <script src = "../static/js/randomImage.js"></script>
        <script src="../static/js/searchResults.js"></script> <!-- Link to your JavaScript file -->
    </body>
{% else %}
    <h1>You are not authorized to access this!</h1>
{% endif %}
{% endblock content %}